// Button
@mixin button($bgcolor: $primary-cta-colour, $color: #ffffff) {
  background-color: $bgcolor;

  & a {
    font-size: 14px;
    font-family: $secondary-font-family;
    font-weight: 300;
    color: $color;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include textSizeAdjust;
    padding: 12px 10px;
    border: solid 1px $bgcolor;
    display: inline-block;
  }
}

.button {
  td {
    @include button();
  }
}

// Menu
@mixin menuItem($v-padding: 0, $h-padding: 10px) {
  &-item {
    padding: $v-padding $h-padding;

      @include mediaScreen {
        padding: $v-padding $h-padding !important;
      }
  }
}
