.footer {
  background-color: lighten($grey, 30%);
  p, a {
    font-size: $p-font-size;
    text-align: center;
  }

  &__menu {
    margin: 0 auto;

    .menu {
      @include menuItem(0, 5px);

      &-divider {
        padding-top: 10px;
        padding-bottom: 14px;
      }
    }
  }
}
