.preheader {
  td {
    padding: 5px 0;
  }

  p {
    margin: 0;
    font-size: $preview-text-size;
    font-family: $secondary-font-family;
    line-height: $preview-text-line-height;
    color: $preview-text-colour;
    text-align: center;
  }

  a {
    color: $primary-cta-colour;
  }
}

.header {
  &__logo {
    td {
      padding: 16px 0;

      @include mediaScreen {
        padding-bottom: 8px;
      }
    }

    @include mediaScreen {
      width: 100% !important;
    }

    img {
      display: inline;
      max-width: 300px;
    }
  }

  &__menu {

    td {
      padding: 16px 0;

      @include mediaScreen {
        padding: 8px 0 !important;
      }
    }

    .menu-item {
      padding: 0 10px;

      @include mediaScreen {
        padding: 0 10px !important;
      }
    }
  }

}
