.footer {
  background-color: $general-muted-light;
}

.footer__content td {
  padding: $global-margin 0;

  @mixin media-query {
    padding: $global-margin !important;
  }

  * {
    color: $black;
    text-decoration: none;
    font-size: $preview-text-size;
  }
}
