.header__content {
  td {
    @mixin media-query {
      display: block !important;
      padding-bottom: 5px;
      text-align: center !important;
      width: 100% !important;
    }
  }
}

.header__logo {
  a {
    display: inline-block;
  }
}

.header__web-link {
  font-size: $preview-text-size;
  line-height: $preview-text-line-height;
  text-align: right;
}
