.container,
.row,
.column {
  @mixin media-query {
    width: 100% !important;
  }
}

.column td {
  @mixin media-query {
    padding-left: $global-margin !important;
    padding-right: $global-margin !important;
  }
}

.main__content {
  padding: 0 $global-margin $global-margin;
}
