@define-mixin media-query {
  @media only screen and (max-width: 600px) {
    @mixin-content;
  }
}

@define-mixin test-size-adjust {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@define-mixin button $bg-color: $primary-cta-color, $color: #ffffff {
  td {
    background-color: $bg-color;

    & a {
      border: solid 1px $bg-color;
      color: $color;
      display: inline-block;
      font-size: $p-font-size;
      line-height: $p-line-height;
      padding: 10px 12px;
      text-align: center;
      text-decoration: none;

      @mixin test-size-adjust;
    }
  }
}
