@mixin media-query {
  .mob {
    &--center {
      display: block !important;
      margin: 0 auto !important;
    }

    &--fl-none {
      float: none !important;
    }

    &--none {
      display: none !important;
    }
  }
}

.text--center {
  text-align: center;
}

.img--full-width {
  width: 100% !important;
}
