/* Colours */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(60, 60, 60);
$weddings: rgb(220, 189, 108);
$weddings-muted: rgb(231, 210, 158);
$general: rgb(74, 70, 92);
$general-muted: rgb(128, 120, 136);
$general-muted-light: rgba(128, 120, 136, 0.4);
$meetings: rgb(63, 108, 114);
$meetings-muted: rgb(179, 194, 200);

$primary-cta-color: $general;
$primary-text-color: $grey;
$preview-text-color: #888888;

/* Typography */
$primary-font-family: gill-sans-nova, Helvetica Neue, Helvetica, Roboto, Arial,
  sans-serif;
$secondary-font-family: Arial, sans-serif;
$primary-font-weight: 400;
$h1-font-size: 32px;
$h1-line-height: 38px;
$h2-font-size: 24px;
$h2-line-height: 32px;
$h3-font-size: 22px;
$h3-line-height: 28px;
$h4-font-size: 20px;
$h4-line-height: 24px;
$p-font-size: 18px;
$p-line-height: 26px;
$preview-text-size: 14px;
$preview-text-line-height: 20px;
$global-margin: 15px;
