/* Colours */
$primary-cta-color: #005eff;
$primary-text-color: #2b2b2b;
$preview-text-color: #888888;

/* Typography */
$primary-font-family: Helvetica, Arial, sans-serif;
$secondary-font-family: Arial, sans-serif;
$primary-font-weight: 500;
$h1-font-size: 32px;
$h1-line-height: 38px;
$h2-font-size: 24px;
$h2-line-height: 32px;
$h3-font-size: 22px;
$h3-line-height: 28px;
$h4-font-size: 20px;
$h4-line-height: 24px;
$p-font-size: 18px;
$p-line-height: 26px;
$preview-text-size: 12px;
$preview-text-line-height: 16px;
$global-margin: 15px;
