<!--Container: Start -->
<table cellpadding="0" cellspacing="0" border="0" width="600" class="container footer" role="presentation" amf:container="Footer" >
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" class="column footer__content" role="presentation">
          <tbody>
            <tr>
              <td align="center">
                <img src="http://uob.msgfocus.com/files/amf_uob/workspace_40/EPH-Uni-lockup_black-01-transparent.png" alt="University of Birminbham | Edgbaston Park Hotel" width="350" height="66">
              </td>
            </tr>
            <tr>
              <td align="center" amf:htmlbox="Footer content" amf:htmltools="full">
                <p>53 Edgbaston Park Road, Birmingham B15 2RS United Kingdom <br /> 
                  <a href="Tel:0121 414 8888">0121 414 8888 </a>&nbsp;&nbsp;<a href="mailto:enquiries@edgbastonparkhotel.com">enquiries@edgbastonparkhotel.com</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<!--Container: End -->