<!--Container: Start -->
<table cellpadding="0" cellspacing="0" border="0" width="600" class="container footer" role="presentation" amf:container="Footer" >
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="400" class="column footer__content" role="presentation">
          <tbody>
            <tr>
              <td align="center" width="100%" colspan="2">
                <img src="http://uob.msgfocus.com/files/amf_uob/workspace_40/EPH-Uni-lockup_black-01-transparent.png" alt="University of Birminbham | Edgbaston Park Hotel" width="350" height="66">
              </td>
            </tr>
            <tr>
              <td align="center" width="50%">
                <img src="http://uob.msgfocus.com/files/amf_uob/workspace_40/connect-logo-blk.png" alt="Connect Preferred Hotels & Resorts" width="117" height="65" class="connect__logo">
              </td>
              <td align="center" width="50%">
                <img src="http://uob.msgfocus.com/files/amf_uob/workspace_40/i-prefer-logo-vertical-bw-rgb-300ppi.png" alt="I Prefer Hotel Rewards" width="81" height="70" class="prefer__logo">
              </td>
            </tr>
          </tbody>
        </table>
        <!--Container: Start -->
        <table cellpadding="0" cellspacing="0" border="0" width="600" class="column footer__content" role="presentation">
          <tbody>
            <tr>
              <td align="center" width="100%" colspan="2" amf:htmlbox="Footer content" amf:htmltools="full">
                <p>53 Edgbaston Park Road, Birmingham B15 2RS United Kingdom <br /> 
                  <a href="Tel:0121 414 8888">0121 414 8888 </a>&nbsp;&nbsp;<a href="mailto:enquiries@edgbastonparkhotel.com">enquiries@edgbastonparkhotel.com</a></p>
              </td>
            </tr>
          </tbody>
        </table>
        <!--Container: End -->
      </td>
    </tr>
  </tbody>
</table>
<!--Container: End -->