<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ root }}styles/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--Fix to get Windows Phone 8 to render CSS3 and Media Queries-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ subject }}</title>
    {{!-- Styles will be embedded below --}}
    <!-- <style> -->
  </head>
  <body>
    {{!-- Media queries will be embedded below --}}
    <!-- <media queries> -->

    <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation">
      <tr>
        <td align="center">
          {{!-- Pages you create in the app/pages/ folder are inserted here when the flattened emails are created. --}}
          {{> body}}
        </td>
      </tr>
    </table>
  </body>
</html>
