<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" class="column">
          <tbody>
            <tr>
              <td align="center">
                <!-- button -->
                <table align="center" class="button">
                  <tr>
                    <td align="center">
                      <a href="#" target="_blank" linklabel="" amf:link="">Click here</a>
                    </td>
                  </tr>
                </table>
                <!-- /button -->
                <!-- spacer -->
                <table align="center">
                  <tr>
                    <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
                  </tr>
                </table>
                <!-- /spacer -->
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
