<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column">
          <tbody>
            <tr>
              <td align="center" class="mob--padding">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor nunc, pretium ut ultrices sed, auctor scelerisque massa. Aenean imperdiet mi eget pellentesque maximus. Duis feugiat magna sit amet augue efficitur, quis tempus nisl luctus. Cras vel feugiat augue. Praesent vulputate aliquam convallis.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
